.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #1a1a1a;
  box-shadow: 0 0 15px #00ccff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.nav-links li {
  cursor: pointer;
  color: #00ccff;
  font-family: 'Arial', sans-serif;
  padding: 0.5em 0.75em;
  position: relative;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-links li:hover {
  color: #ff33cc;
  transform: scale(1.05);
}

.nav-links li .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(38, 38, 38, 0.9);
  padding: 1em;
  box-shadow: 0 0 20px #00ccff;
  border-radius: 12px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.nav-links li:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.nav-links li .submenu li {
  color: #00ccff;
  padding: 0.5em 1.5em;
  font-size: 0.9em;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.nav-links li .submenu li::before {
  content: '❯';
  margin-right: 0.5em;
  font-size: 1.2em;
  color: #00ccff;
  transition: transform 0.3s ease;
}

.nav-links li .submenu li:hover::before {
  transform: rotate(90deg);
  color: #ff33cc;
}

.nav-links li .submenu li:hover {
  color: #ff33cc;
  background-color: rgba(51, 51, 51, 0.8);
  border-radius: 8px;
}

.nav-links li .submenu .nested {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: rgba(38, 38, 38, 0.9);
  padding: 1em;
  box-shadow: 0 0 20px #00ccff;
  border-radius: 12px;
  z-index: 1;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.nav-links li .submenu li:hover .nested {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.search-bar input {
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #00ccff;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 10px #00ccff;
}

.search-bar input::placeholder {
  color: #00ccff;
}

.search-bar select {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: #00ccff;
  color: #000;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 10px #00ccff;
}

.search-bar select:hover {
  background-color: #ff33cc;
  color: #000;
  box-shadow: 0 0 10px #ff33cc;
}

.search-bar button {
  background-color: #00ccff;
  border: none;
  border-radius: 4px;
  color: #000;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
  background-color: #ff33cc;
  box-shadow: 0 0 10px #ff33cc;
}
